*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

/* tablets  < 992px (768px até 991) */

@media screen and (max-width: 991px){
    h1{
        color: green;
    }

    .imagem-perfil{
        display: none;
    }

}

/* smartphones < 768px (0px até 767px) */
@media screen and (max-width: 767px){
    h1{
        color: white;
        background-color: rgb(111, 180, 180);
    }

    .imagem-perfil{
        display: block;
    }
}